{% extends 'resume/base.html' %}
{% load static %}

    {% block content %}
        <div class="text-center mt-5">
            <img src="{% static 'resume/images/hk.jpg' %}" alt="" class="img-thumbnail" width="150px" height="100px">
        </div>
        <div class="mt-5 text-white mx-5 text-justify">
            <h1 class="font-waight-bold" class="font" >Hello,</h1>
            <div class="px-4" style="line-height: 2rem;">
                    
                <p style="text-indent:100px st-font">
                    I am <b class="text-warning"> Harendra yadav</b> having a good knowladge of full-stack web-developer . I did course from Borward Technology ,during this course perioud i have learned Python ,HTML,CSS,JAVASCRIPT,dJANGO and BOOTSTRAP.
                    Basis of my knowladge i seeking web-developing job.
                </p>
                <p>
                    I have done my bachler's degree as Mechanical Engineering but i am too much intrested in web developing field in  my collage time.
                </p>
            </div>
           
        </div>
        <div class="text-center ">
            <a href="" class="btn btn-outline-warning">LInk1 </a>
            <a href="" class="btn btn-outline-info"> Link2</a>
       </div>
    {% endblock content %}