{% extends 'resume/base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

        <div class="row text-white text-justify">
            <div class="col-sm-4">
                <i class="fa fas-search-dollar fa-2x"></i>
                <h2>Frontend development</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, laborum.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-brands fa-python fa-2x"></i>
                <h2>Backend development</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, sunt.</p>
            </div> 
            <div class="col-sm-4">
                <i class="fa-brands fa-python fa-2x"></i>
                <h2>data analysis</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, sunt.</p>
            </div> 
        
            <div class="col-sm-4">
                <i class="fa fas-search-dollar fa-2x"></i>
                <h2>Frontend development</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, laborum.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-brands fa-python fa-2x"></i>
                <h2>Backend development</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, sunt.</p>
            </div> 
            <div class="col-sm-4">
                <i class="fa-brands fa-python fa-2x"></i>
                <h2>data analysis</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, sunt.</p>
            </div> 

            <div class="col-sm-4">
                <i class="fa fas-search-dollar fa-2x"></i>
                <h2>Frontend development</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, laborum.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-brands fa-python fa-2x"></i>
                <h2>Backend development</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, sunt.</p>
            </div> 
            <div class="col-sm-4">
                <i class="fa-brands fa-python fa-2x"></i>
                <h2>data analysis</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, sunt.</p>
            </div> 
        </div>

    </div>
{% endblock content %}