{% extends 'resume/base.html'  %}
{% block content %}
<div class="container">
    <h1 class="text-warning border-bottom mt-5">Skills</h1>

    <div class="row text-white">
        <div class="col-sm-4">
            <h3>PYTHON</h3>
            <div class="progress">
                <div class="progress-bar bg-danger " roll="progressbar" style="width: 80%;" aria-valuenow="100
                " aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="col-sm-4">
            <h3>DJANGO</h3>
            <div class="progress">
                <div class="progress-bar bg-danger " roll="progressbar" style="width: 60%;" aria-valuenow="100
                " aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="col-sm-4">
            <h3>HTML</h3>
            <div class="progress">
                <div class="progress-bar bg-danger " roll="progressbar" style="width: 80%;" aria-valuenow="100
                " aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="col-sm-4">
            <h3>CSS</h3>
            <div class="progress">
                <div class="progress-bar bg-danger " roll="progressbar" style="width: 80%;" aria-valuenow="100
                " aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="col-sm-4">
            <h3>JAVASCRIPT</h3>
            <div class="progress">
                <div class="progress-bar bg-danger " roll="progressbar" style="width: 60%;" aria-valuenow="100
                " aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="col-sm-4">
            <h3>BOOTSTRAP</h3>
            <div class="progress">
                <div class="progress-bar bg-danger " roll="progressbar" style="width: 50%;" aria-valuenow="100
                " aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="col-sm-4">
            <h3>C++</h3>
            <div class="progress">
                <div class="progress-bar bg-danger " roll="progressbar" style="width: 30%;" aria-valuenow="100
                " aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}